.container {
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.page-item {
    margin: 0 0.5rem;
}

.item-title {
    text-align: left;
    text-justify: inter-character;
}

.details-table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.details-table > th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.page-link {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
}
